<ot-view>

    <div class="row">
        <div class="col-md-12 ot-view-title">
            {{branch.name}}
            <ot-entity-decorations entity="branch"></ot-entity-decorations>
            <div ng-if="branch.description" class="ot-description">
                {{branch.description}}
            </div>
        </div>
    </div>

    <ot-entity-disabled entity="branch" callback="reloadBranch()">
        The branch is disabled.
    </ot-entity-disabled>

    <table class="ot-branch-compact-view">
        <tbody>
        <tr ng-repeat="build in branch.builds">
            <!-- TODO Row selection -->
            <!-- Build name section -->
            <td class="ot-branch-compact-view-build-name">
                <a href="{{build.links._page}}">
                    {{build.name}}
                </a>
                <!-- TODO Signature -->
                <!-- Build decorations -->
                <ot-entity-embedded-decorations decorations="build.decorations"></ot-entity-embedded-decorations>
            </td>
        </tr>
        </tbody>
    </table>

</ot-view>