<ot-view>
    <div class="row">
        <div class="col-md-12 ot-view-title">
            Build package versions for {{build.name}}
        </div>
    </div>
    <div class="row" ng-if="build.packageVersions.length == 0">
        <div class="col-md-12">
            <div class="alert alert-info">
                No package version has been registered for this build.
                <span ng-if="build.links._packageUploadAsText">
                    You can <a href="#" ng-click="uploadAsText()">upload</a> a set of dependencies.
                </span>
            </div>
        </div>
    </div>
    <div class="row" ng-if="build.packageVersions.length > 0">
        <div class="col-md-12">
            <table class="table table-condensed table-striped table-hover">
                <thead>
                <tr>
                    <th>Identifier</th>
                    <th>Version</th>
                    <th>Linked build</th>
                    <th>Promotions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="dep in build.packageVersions">
                    <td>
                        <ot-package-id package-id="dep.packageVersion.packageId"></ot-package-id>
                    </td>
                    <td>
                        {{dep.packageVersion.version}}
                    </td>
                    <td ng-if="!dep.target" class="ot-description" colspan="4">
                        n/a
                    </td>
                    <td ng-if="dep.target">
                        <a href="{{dep.target.branch.project.links._page}}">{{dep.target.branch.project.name}}</a>
                        /
                        <a href="{{dep.target.branch.links._page}}">{{dep.target.branch.name}}</a>
                        /
                        <a href="{{dep.target.links._page}}">{{dep.target.name}}</a>
                    </td>
                    <td ng-if="dep.target" class="ot-build-used-by-promotions">
                        <span ng-repeat="promotionRun in dep.target.promotionRuns">
                            <ot-entity-image entity="promotionRun.promotionLevel" title="{{promotionRun.promotionLevel.name}}" link="{{promotionRun.promotionLevel.links._page}}"></ot-entity-image>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</ot-view>