<div class="modal-header">
    <h3>
        "{{config.project.name}}" project package identifiers
    </h3>
</div>
<div class="modal-body">
    <table class="table table-condensed table-hover">
        <tbody>
        <tr ng-repeat="packageId in packageIds">
            <td>
                <ot-package-id package-id="packageId"></ot-package-id>
            </td>
            <td>
               <span class="fa fa-pencil ot-command" title="Edit this package identifier" ng-click="editPackageId(packageId)"></span>
               <span class="fa fa-trash ot-command" title="Deletes this package identifier" ng-click="deletePackageId(packageId)"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="form-group">
                    <select class="form-control" ng-model="package.type" ng-options="packageType.id as packageType.name for packageType in packageTypes">
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="package.id" placeholder="Package identifier"/>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" ng-hide="selectedPackageId" ng-disabled="!selectedPackageId && (!package.type || !package.id)" ng-click="savePackageId()">Add</button>
                    <button type="button" class="btn btn-primary" ng-show="selectedPackageId" ng-disabled="selectedPackageId && (!package.type || !package.id)" ng-click="savePackageId()">Update</button>
                    <button type="button" class="btn btn-default" ng-click="clearPackageId()">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="ot-alert-{{message.type}} alert-dismissable" ng-show="message">
        <span>{{message.content}}</span>
    </div>
    <button class="btn btn-primary" type="submit" ng-click="submit(true)">OK</button>
    <button class="btn btn-link" type="button" ng-click="cancel()">Cancel</button>
</div>